<!DOCTYPE html>
<html lang="en-US">

<head>
  <title> audiYO </title>
  <meta charset="utf-8">
</head>
<script type="text/javascript" src="/Users/markteffeteller/web_projects/fun/audiYOO/audiYOO/app/script/index.js">

</script>
<body>
 <section>
   WELCOME!
 </section>
 <section>
   <audio id="audioplayer" autoplay src="/Users/markteffeteller/web_projects/fun/audiYOO/audiYOO/assets/dern-kala2.mp3" controls> </audio>
   <br>
   <label for="gainSlider"> Gain </label>
   <input id="gainSlider" type="range" min="0" max="1" step=".1" value="1"></input>
 </section>
</body>
